@import "tailwindcss";

@font-face {
  font-family: 'Roboto';
  src: url('../assets/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-roboto: "Roboto", sans-serif;
}
